fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
openai>=1.52.0
python-multipart==0.0.9
hf_transfer==0.1.7
# RL Dependencies
stable-baselines3==2.3.2
shimmy==0.1.0
gymnasium==0.29.1
numpy==1.26.4
matplotlib==3.9.0
